#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

CURVER := $(shell dpkg-parsechangelog | grep ^Version | awk '{print $$2}' | cut -d- -f1 | cut -d+ -f1)

%:
	dh $@

.PHONY: override_dh_strip
override_dh_strip:
	dh_strip -plibopenjpeg2 --dbg-package=libopenjpeg2-dbg

get-orig-source:
	uscan --verbose \
		--force-download \
		--download-version $(CURVER) \
		--rename \
		--destdir .
	tar xf openjpeg_$(CURVER).orig.tar.gz
	rm -rf openjpeg-$(CURVER)/thirdparty/
	tar cf openjpeg_$(CURVER)+ds.orig.tar openjpeg-$(CURVER)/
	gzip -9 openjpeg_$(CURVER)+ds.orig.tar
	rm -rf openjpeg-$(CURVER)/ openjpeg_$(CURVER).orig.tar.gz
